<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{{default @page.title @site.name}}} | {{{default @page.description @site.description}}}">
<meta name="keywords" content="{{join @site.keywords}}">
<meta name="author" content="{{{@site.author.name}}}">
<title>{{{default @page.title site.name}}}</title>

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto|Roboto+Mono" rel="stylesheet">

<!-- css: bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<!-- css: custom -->
<link rel="stylesheet" type="text/css" href="assets/css/styles.css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/css/github-light.css" media="screen">

<!-- geopattern styles for headers -->
{{> site-geopattern }}
